<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="db1.My.MySettings.LMSConnectionString" connectionString="Data Source=DESKTOP-2JTSE1U;Initial Catalog=LMS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="db1.My.MySettings.LMSDBConnectionString" connectionString="Driver={ODBC Driver 13 for SQL Server};server=tcp:lmsdbproject.database.windows.net,1433;database=LMSDB;uid=lmsdb@lmsdbproject;pwd=Program1234!;encrypt=yes;trustservercertificate=no;connection timeout=30"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
